@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../views";
@source "../../content";

.hero {
    p {
        @apply text-[32px] tracking-tight leading-tight text-gray-500;

        strong {
            @apply font-bold text-white;
        }
    }
}
